.formContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
}

.panelData {
  color: var(--color-accent-default);
  font-size: 14px;
  font-weight: 600;
}

.footerLink {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.footerLinkIcon {
  transform: rotate(180deg);
  width: 16px;
  height: 16px;

  path {
    fill: #fff;
  }
}
