:root {
  // colors
  --color-accent-default: #f5c678;
  --color-accent-light: rgba(245 198 120 / 70%);
  --color-additional-default: #93b1ff;
  --color-additional-light: rgba(147 177 255 / 70%);
  --color-warning-default: #e36464;
  --color-warning-light: rgba(219 57 57 / 30%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--color-neutral-500);
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

main {
  min-height: 100vh;
}
