.page {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(3, 300px);
  gap: 50px;
}

.themeButton {
  position: absolute;
  top: 36px;
  right: 36px;
  cursor: pointer;
}

.formContainer {
  grid-column: 2 / 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
}

.formTitle {
  text-align: center;
  color: var(--color-accent-default);
  font-family: 'Baloo 2', Arial, Helvetica, sans-serif;
  font-size: 20px;
  transition: color 200ms ease;
}

.panelContainer {
  grid-column: 3 / 4;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--color-accent-default);
}

.headerContainer {
  align-self: stretch;
  padding: 95px 0 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("/images/background-doggee-light.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #FFF;
  font-size: 40px;
  font-family: 'Baloo 2', Arial, Helvetica, sans-serif;
  user-select: none;
}

.passwordRulesContainer {
  padding: 40px 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: var(--color-neutral-100);
  transition: background-color 200ms ease;
}

.passwordRulesList {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 14px;
  transition: color 200ms ease;

  li {
    display: flex;
    align-items: center;
    gap: 10px;

    span {
      transition: color 200ms ease;

      .passwordRuleSuccess {
        color: var(--color-additional-default);
        font-weight: 600;
      }

      .passwordRuleFailure {
        color: var(--color-accent-default);
        font-weight: 600;
      }
    }
  }
}

.signInContainer {
  margin-bottom: 30px;
  text-align: center;
}

.signInLink {
  font-size: 14px;
  font-weight: 600;
  color: #FFF;
}

