.page {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 500px;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 20px;
  background: var(--color-neutral-100);
  box-shadow: var(--shadow-container);
  overflow: hidden;
}

.headerContainer {
  align-self: stretch;
  padding: 90px 0 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #FFF;
  font-size: 40px;
  font-family: 'Baloo 2', Arial, Helvetica, sans-serif;
  user-select: none;

  &.light {
    background-color: var(--color-accent-default);
    background-image: url("/images/background-doggee-light.svg");
  }

  &.dark {
    background-color: var(--color-neutral-200);
    background-image: url("/images/background-doggee-dark.svg");
  }
}

.formContainer {
  width: 250px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.inputContainer {
  display: flex;
  flex-direction: column;
}

.signUpContainer {
  margin-bottom: 15px;
  text-align: center;
}

.signUpLink {
  font-size: 14px;
  font-weight: 600;
  color: var(--color-accent-default);
}