.page {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('/images/loading.gif');
  background-repeat: no-repeat;
  background-size: 100px 100px;
  background-position: center;
}