.rulesContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 14px;
  transition: color 200ms ease;
}

.ruleContainer {
  display: flex;
  align-items: center;
  gap: 10px;
}

.rule {
  transition: color 200ms ease;

  .success {
    color: var(--color-additional-default);
    font-weight: 600;
  }

  .failure {
    color: var(--color-accent-default);
    font-weight: 600;
  }
}
