.indicator {
  path {
    fill: var(--color-neutral-400);
    transition: fill 200ms ease;
  }
}

.dateInputContainer {
  position: relative;
}

.calendarContainer {
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 10;

  &.calendarContainerHide {
    display: none;
  }
}